.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.weaponList {
  list-style: none;
  padding: 0;
  
}

.weaponItem {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  gap: 20px;
  width: 91%;
  cursor: pointer;
}

.weaponItem:hover {
  background-color: #555;
} 

.closeButton {
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #555;
}

.shopImage {
  width: 470px;
  height: 200px;
}

@media screen and (max-width: 640px) {
  .modalContent {
    padding: 10px;
    max-width: 500px;
    width: 85%;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .shopImage {
    width: 435px;
    height: 180px;
  }

  .closeButton {
    width: 95%;
  }
}

@media screen and (max-width: 530px) {
  .modalContent {
    padding: 10px;
    max-width: 500px;
    width: 85%;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .shopImage {
    width: 310px;
    height: 180px;
  }
}
