.container {
  max-width: 400px;
  margin: 150px auto;
  padding: 20px;
  border: 2px solid #ff00ff;
  border-radius: 10px;
  background-color: #1a1a1a;
}

.error {
  color: #ff0000;
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 300px;
  }
}
